
<nav class="navbar navbar-default ">
    <div class="container-fluid">

            <ul class="nav navbar-nav">
            <li ><a routerLink="/Groupe" id="acceuil">Groupe</a></li>
            </ul>
          

    
           

           
            <ul class="nav navbar-nav">
                <li ><a routerLink="Etudiants" class="connex" id="services" >Etudiant</a> </li>
            </ul>

           <ul class="nav navbar-nav navbar-right">

                <li>
                <button type="button" class="btn btn-success">Home</button>
                </li>
            </ul>
            
            
    </div>
    

</nav>